<div class="col-lg-12">
    <h2> User Details</h2>
    <br/>
    <button class="btn btn-primary float-right" (click)="adicionarVeiculo()"> Adionar Veículo</button>
    <br/><br/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Modelo</th>
                <th>Fator multiplicador</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let veiculo of veiculos">
                <td>{{veiculo.modelo}}</td>
                <td>{{veiculo.fatorMultiplicador}}</td>
                <td>
                    <button class="btn btn-primary btn-sm" (click)="editarVeiculo(veiculo)" style="margin-left: 20px;"> Editar</button>
                    <button class="btn btn-danger btn-sm" (click)="deletarVeiculo(veiculo)"> Deletar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>